.preflightInputContainer {
	width: 45%;
	float: left;
}

.preflightInputContainer label {width: 100px;display:inline-block;}

.catSideBar ul, .catSideBar li{
	padding: 0px;
	margin: 0px;
	list-style:none;
}

.clear {
	clear: both;
}

.catSideBar{
	margin-left: 20px;
}

.blueBorder { border: 1px solid #1690C8; padding: 10px;}
.prodViewerAddToCartForm  fieldset {margin: 5px;}
.prodViewerAddToCartForm  input[name=qty] {padding: 5px;}

.prodDetail { height: 0px; overflow:hidden; }


.productButtons {
	text-align: center;
}

.productButtons .prodButton {
	margin: 4px auto;
	width: 180px;
}

.productButtons .prodButton img{
	margin: 0px;
}

.prodQty select {
	width:130px;
}

.Logos img {
	margin: 0px 55px;
}

.Logos img.bumpDown {
	margin-top: 12px;
}